<ion-view view-title="Your cart">
  <ion-content class="padding">
    <h1 class="home-title">Shopping Cart</h1>

    <div id="box-empty-cart" ng-show="shoppingCartUser.length <= 0">
      <h4>Your shopping cart is empty ! </h4>
      <a class="link-discover" href="#/app/meals">Discover our meals</a>
    </div>

    <div ng-show="shoppingCartUser.length > 0">
    <h4>Total : {{ totalCart }} €</h4>

<div class="list" ng-repeat="item in shoppingCartUser">


  <div class="item item-thumbnail-left item-button-right">
    <img src="{{item.photo}}">
    <h2 style="text-align:left">{{item.title}}</h2>
    <p>{{item.price}} €</p>
  
    <button class="button button-outline button-stable">
          <i class="icon ion-trash-b"></i>
    </button>
</div>


</div>

<button class="button ion-star button-block button-calm">
  Order my Breakfast ! <i class=""></i>
</button>
</div>

</ion-content>
</ion-view>
