<ion-view view-title="Our Meals">
  <ion-content style="background-color:">

    <ngcart-cart></ngcart-cart>

    <!-- {{listCategories}} -->


    <!-- LIST CATEGORIES REPEAT -->
    <div class="box-wrapper-category" ng-repeat="categorie in listCategories">
      <!-- BOX ONE CATEGORY -->
      <div ng-if="categorie._id != 1">
        <div class="item item-divider" style="background-color:">
          <img src="{{categorie.image}}">
          <p>{{categorie.name}}</p>
        </div>

        <div ng-repeat="meal in listMeals" >
          <div ng-if="meal.cat_id == categorie._id"   class="list card card-box-meal">
            <div class="item item-body box-meal">
              <div class="box-meal-img">
                <a href="#/app/meals/{{meal._id}}">
                  <img class="full-image meal-image" src="{{meal.photo}}">
                </a>
              </div>
              <div class="box-meal-desc">

                <h2>{{meal.title}}</h2>
                <p>cat n° : {{meal.cat_id}}</p>
                <p class="price">{{meal.price}} €</p>     

                <ngcart-addtocart id="{{meal._id}}" name="{{meal.title}}" price="{{meal.price}}" quantity="1" quantity-max="5">
                  Add to Cart
                </ngcart-addtocart>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- end:BOX ONE CATEGORY -->
    </div>
    <!-- end:BOX LIST CATEGORIES -->


  </ion-content>
</ion-view>

