<ion-view view-title="Delivery">
  <ion-content>

    <div class="home-banner delivery-banner">
      <h1 class="curvy-text slogan">Where is your bed ?</h1>
    </div>

    <h3>Where is your bed located ?</h3>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.181244750313!2d4.35330635106076!3d50.827806679428726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c4ed9bfde4e9%3A0x727cddf2f4b81d01!2sADNEOM+Brussels!5e0!3m2!1sen!2sbe!4v1463579735809" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    <p>Chocolate gummi bears dessert carrot cake fruitcake gummi bears marzipan. Gingerbread cupcake cotton candy cake jelly beans tootsie roll. Marshmallow tiramisu gingerbread ice cream lollipop jelly wafer. Wafer chocolate cake pastry pastry lollipop powder pudding biscuit marzipan. Tootsie roll liquorice ice cream bear claw muffin tootsie roll. Caramels chocolate cake croissant chocolate bar carrot cake tart muffin. Pastry tootsie roll cake pudding. Tootsie roll oat cake macaroon. Biscuit pastry gingerbread biscuit oat cake cookie. Tart macaroon cake pudding. Toffee lemon drops cheesecake marshmallow dragée marshmallow. Chocolate cake cake cheesecake gummi bears carrot cake chocolate. Candy canes tiramisu oat cake carrot cake danish gingerbread.</p>

  </ion-content>
</ion-view>
