<ion-view view-title="My Little Breakfast">
  <ion-content>

    <div class="home-banner">
      <h1 class="curvy-text slogan">When your bed is just to comfy to leave</h1>
    </div>

    <h2>Our Categories</h2>
    <!-- {{listCategories}} -->
    

  
  <div style="margin:10px;">

      <div class=" box-category" ng-repeat="cat in listCategories">
        <a href="#/app/category/{{cat._id}}" style="color: {{cat.color}}">
          <img src="../img/food-icons/{{cat.image}}">
          <h5 >{{cat.name}}</h5>
          <p>{{cat.desc}}</p>
        </a>
      </div>

    
    <h2>Our Philosophy</h2>
    <p>Jelly beans soufflé tootsie roll dessert. Bear claw caramels halvah gummies oat cake. Halvah lemon drops dragée wafer gummies pie carrot cake wafer cookie. Biscuit lollipop chocolate bar tiramisu. Carrot cake danish cake halvah carrot cake.
    </p>
    <p>Macaroon macaroon carrot cake apple pie. Dragée cupcake lemon drops biscuit. Candy canes chocolate cake cupcake biscuit tart. Biscuit cookie pudding halvah apple pie sesame snaps biscuit tart dessert.
    </p>

    <h2>Delivery</h2>
    <!-- <p>Where is your bed ?</p> -->
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Where is your bed located ?">
      </label>
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.181244750313!2d4.35330635106076!3d50.827806679428726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c4ed9bfde4e9%3A0x727cddf2f4b81d01!2sADNEOM+Brussels!5e0!3m2!1sen!2sbe!4v1463579735809" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

    <h2>All times fav   </h2>
    <p>Discover the favorites meals of our customers <i class="icon ion-heart"></i>  </p>

</div>


  </ion-content>
</ion-view>
