<ion-view view-title="Our philosophy">
  <ion-content>

    <div class="home-banner philo-banner">
      <h1 class="curvy-text slogan">Taking time to do nothing important</h1>
    </div>

    <!-- <div class="banner-divider"></div> -->

    <div style="margin:10px;">
      <!-- Philosophy -->
      <h2 class=''>Philosophy</h2>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Where is your bed located ?">
        </label>
      </div>


    </div>

  </ion-content>
</ion-view>
